* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html { 
    background: url(images/bg1.avif) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

body {
    background-color: #001427;
    opacity: 0.87;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
}

main {
    opacity: 0.97;
    margin: 0 auto;
}

.container {
    display: flex;
    justify-content: center;
}

img {
    height: 100px;
    margin-left: 5%;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-top: 20px;
    border-radius: 300px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
 
    background-color: rgb(0, 0, 0);
    padding: 5px;
}

a {
    cursor: pointer;
    text-align: center;
    display: inline-block;
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    color: #84aed4;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #818a92fb;
    border-radius: 20px;
    box-shadow: 2px 3px 10px rgb(32, 32, 51);
}

.nav {
    display: flex;
    justify-content: center;
}

li {
    list-style: none;
}

.info {
    
    max-width: 900px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #a7c7b9;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 2px 2px 20px #e2e2ec2f;
}

section {
    display: flex;
    justify-content: space-between;
    margin: 40px 0px;
    padding: 10px;
    background-color: #001427;
    border-radius: 20px;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 10px 20px;
}

.skills, h2 {
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    /* background-color: #5b5e612a; */
}

.info li {
    text-align: center;
    width: 50%;
    margin: 2px;
    margin-left: 25%;
    padding: 5px;
    border: 2px solid #001427;
    border-radius: 10px;
}

p {
    margin: 15px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    height: 100px;
    position: absolute;
    bottom: 0;
    width: 100%;
}



@media screen and (max-width:640px) {
    a {
        text-align: center;
        display: inline-block;
        padding: 10px;
        margin: 5px;
        text-decoration: none;
        color: #001427;
        font-family: Arial, Helvetica, sans-serif;
        border: 1px solid #001427;
        border-radius: 20px;
        box-shadow: 2px 3px 10px rgb(32, 32, 51);
    }
}

@media screen and (max-width:600px) {

    a {
        font-size: 0.9rem;
        text-align: center;
        display: inline-block;
        padding: 10px;
        margin: 5px;
        text-decoration: none;
        color: #001427;
        font-family: Arial, Helvetica, sans-serif;
        border: 1px solid #001427;
        border-radius: 20px;
        box-shadow: 2px 3px 10px rgb(32, 32, 51);
    }
}

@media screen and (max-width:560px) {
    a {
        font-size: 0.9rem;
        text-align: center;
        display: flex;
        justify-content: flex-end;
        padding: 7px;
        margin: 5px;
        text-decoration: none;
        color: #001427;
        font-family: Arial, Helvetica, sans-serif;
        border: 1px solid #001427;
        border-radius: 20px;
        box-shadow: 2px 3px 10px rgb(32, 32, 51);
    }
}

@media screen and (max-width:520px) {
    a {
        font-size: 0.9rem;
        text-align: center;
        display: inline-block;
        padding: 7px;
        margin: 4px;
        text-decoration: none;
        color: #001427;
        font-family: Arial, Helvetica, sans-serif;
        border: 1px solid #001427;
        border-radius: 20px;
        box-shadow: 2px 3px 10px rgb(32, 32, 51);
    }
}

@media screen and (max-width:510px) {
    a {
        font-size: 0.9rem;
        text-align: center;
        padding: 5px;
        margin: 3px;
        text-decoration: none;
        color: #001427;
        font-family: Arial, Helvetica, sans-serif;
        border: 1px solid #001427;
        border-radius: 20px;
        box-shadow: 2px 3px 10px rgb(32, 32, 51);
    }
}

@media screen and (max-width:480px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        background-color: #708d81;
        padding: 10px;
        border-radius: 20px;
        margin: 10px;
    }

    a {
        font-size: 0.8rem;
        text-align: center;
        padding: 5px;
        margin: 3px;
        text-decoration: none;
        color: #001427;
        font-family: Arial, Helvetica, sans-serif;
        border: 1px solid #001427;
        border-radius: 20px;
        box-shadow: 2px 3px 10px rgb(32, 32, 51);
    }
}

@media screen and (max-width:365px) {
    h2 {
       font-size: 0.9rem;
    }
    a {
        font-size: 0.8rem;
        text-align: center;
        display: inline-block;
        padding: 4px;
        margin: 3px;
        text-decoration: none;
        color: #001427;
        font-family: Arial, Helvetica, sans-serif;
        border: 1px solid #001427;
        border-radius: 20px;
        box-shadow: 2px 3px 10px rgb(32, 32, 51);
    }
}

@media screen and (max-width:335px) {
    a {
        font-size: 0.75rem;
        text-align: center;
        display: inline-block;
        padding: 4px;
        margin: 3px;
        text-decoration: none;
        color: #001427;
        font-family: Arial, Helvetica, sans-serif;
        border: 1px solid #001427;
        border-radius: 20px;
        box-shadow: 2px 3px 10px rgb(32, 32, 51);
    }
}
